In [3]:
import pandas as pd
country = pd.read_csv("country.csv" , header = 1)
country =  country.rename(columns={'CountryName':"name",'Population growth':'growth','Total population':'pop','Area (sq. km)':'area'})
country.drop(['CountryCode' , '1'] ,  axis=1 , inplace=True)
country = country.set_index('name' )
max_pop=country['pop'].max()
country['pop'][country['pop']==max_pop]
couimport pandas as pd

# Read the data from the CSV file
country = pd.read_csv("country.csv", header=1)

# Rename columns for better readability
country = country.rename(columns={'CountryName': "name", 'Population growth': 'growth', 'Total population': 'pop', 'Area (sq. km)': 'area'})

# Drop unnecessary columns
country.drop(['CountryCode', '1'], axis=1, inplace=True)

# Set 'name' column as the index
country = country.set_index('name')

# Find the maximum population
max_pop = country['pop'].max()

# Filter rows with maximum population
country['pop'][country['pop'] == max_pop]

# Remove the row with 'World' as country name
country.drop('World', axis=0, inplace=True)

# Convert columns to numeric data type
country['growth'] = pd.to_numeric(country['growth'], errors='coerce')
country['pop'] = pd.to_numeric(country['pop'], errors='coerce')
country['area'] = pd.to_numeric(country['area'], errors='coerce')

# Display the cleaned and modified data
countryntry.drop('World', axis=0 , inplace=True)
country['growth']=pd.to_numeric(country['growth'], errors='coerce')
country['pop']=pd.to_numeric(country['pop'], errors='coerce')
country['area']=pd.to_numeric(country['area'], errors='coerce')
country

             growth           pop       area
name
Brazil         0.82  2.076529e+08  8358140.0
Switzerland    1.08  8.372098e+06    39516.0
Germany        1.19  8.266768e+07   348900.0
Denmark        0.83           NaN    42262.0
Spain         -0.01  4.644396e+07   500210.0
France         0.41  6.689611e+07   547557.0
Japan         -0.12  1.269945e+08   364560.0
Greece        -0.69  1.074674e+07   128900.0
Iran           1.15  8.027743e+07  1628760.0
Kuwait         2.92  4.052584e+06        NaN
Morocco         NaN  3.527679e+07   446300.0
Nigeria        2.62  1.859896e+08   910770.0
Qatar          3.50  2.569804e+06    11610.0
Sweden          NaN  9.903122e+06   407310.0
India          1.15  1.324171e+09  2973190.0

In [2]:
country.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15 entries, Brazil to India
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   growth  13 non-null     float64
 1   pop     14 non-null     float64
 2   area    14 non-null     float64
dtypes: float64(3)
memory usage: 480.0+ bytes

In [3]:
country.describe()

          growth           pop          area
count  13.000000  1.400000e+01  1.400000e+01
mean    1.142308  1.565725e+08  1.193428e+06
std     1.222192  3.425607e+08  2.208912e+06
min    -0.690000  2.569804e+06  1.161000e+04
25%     0.410000  1.011403e+07  1.839000e+05
50%     1.080000  5.667003e+07  4.268050e+05
75%     1.190000  1.159128e+08  8.199668e+05
max     3.500000  1.324171e+09  8.358140e+06

In [4]:
country.dropna(inplace=True)
# country.fillna(1300 ,  inplace= True)
# country.drop(['pop'], axis=1 , inplace= True )
# x = country['growth'].mean()
# x = country['growth'].median()
# x = country['growth'].mode()[0]
# x = country.loc['Iran','growth'] = 5
# country

In [5]:
from sklearn.preprocessing import scale , normalize , minmax_scale
scale_data = scale(country)
scale_data = normalize(country , "l1" , axis= 0) # for big errors effecte reduce
# scale_data = normalize(country , "l2" , axis= 0) # for small errors effectes expend
scale_data

c:\Users\erfan\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_data.py:246: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn(

array([[ 0.06436421,  0.09690806,  0.52859096],
       [ 0.08477237,  0.00390712,  0.0024991 ],
       [ 0.09340659,  0.0385796 ,  0.02206536],
       [-0.00078493,  0.02167461,  0.03163461],
       [ 0.0321821 ,  0.03121928,  0.03462896],
       [-0.00941915,  0.05926618,  0.02305574],
       [-0.05416013,  0.00501532,  0.00815198],
       [ 0.09026688,  0.03746411,  0.10300711],
       [ 0.20565149,  0.0867982 ,  0.05759951],
       [ 0.27472527,  0.00119928,  0.00073425],
       [ 0.09026688,  0.61796825,  0.18803243]])

In [7]:
scale_data = minmax_scale(country , feature_range=(0,1))
df_data = pd.DataFrame(scale_data,  index = country.index , columns = country.columns)
# df_data = pd.DataFrame(scale_data)
print(df_data)

               growth       pop      area
name
Brazil       0.360382  0.155178  1.000000
Switzerland  0.422434  0.004390  0.003343
Germany      0.448687  0.060607  0.040411
Spain        0.162291  0.033198  0.058539
France       0.262530  0.048673  0.064212
Japan        0.136038  0.094147  0.042287
Greece       0.000000  0.006187  0.014053
Iran         0.439141  0.058798  0.193751
Nigeria      0.789976  0.138786  0.107729
Qatar        1.000000  0.000000  0.000000
India        0.439141  1.000000  0.354828